<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ISSFinance - Responsive Web Application Kit by Eugene Kopyov</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/assets/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/assets/global_assets/js/main/jquery.min.js"></script>
    <script src="~/assets/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/assets/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/assets/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/assets/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/assets/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/global_assets/js/demo_pages/dashboard.js"></script>
    <script src="~/assets/global_assets/js/demo_charts/pages/dashboard/light/streamgraph.js"></script>
    <script src="~/assets/global_assets/js/demo_charts/pages/dashboard/light/sparklines.js"></script>
    <script src="~/assets/global_assets/js/demo_charts/pages/dashboard/light/lines.js"></script>
    <script src="~/assets/global_assets/js/demo_charts/pages/dashboard/light/areas.js"></script>
    <script src="~/assets/global_assets/js/demo_charts/pages/dashboard/light/donuts.js"></script>
    <script src="~/assets/global_assets/js/demo_charts/pages/dashboard/light/bars.js"></script>
    <script src="~/assets/global_assets/js/demo_charts/pages/dashboard/light/progress.js"></script>
    <script src="~/assets/global_assets/js/demo_charts/pages/dashboard/light/heatmaps.js"></script>
    <script src="~/assets/global_assets/js/demo_charts/pages/dashboard/light/pies.js"></script>
    <script src="~/assets/global_assets/js/demo_charts/pages/dashboard/light/bullets.js"></script>
    <!-- /theme JS files -->



    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" />
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />


    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
</head>

<body>
    <!-- Main navbar -->
    <div class="navbar navbar-expand-lg navbar-dark bg-indigo navbar-static">
        <div class="d-flex flex-1 d-lg-none">
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
            <button data-target="#navbar-search" type="button" class="navbar-toggler" data-toggle="collapse">
                <i class="icon-search4"></i>
            </button>
        </div>
        <div class="navbar-brand text-center text-lg-left">
            <a href="index.html" class="d-inline-block">
               <h4>Good</h4>
                <img src="~/assets/global_assets/images/logo_icon_light.png" class="d-sm-none" alt="">
            </a>
        </div>
        <div class="navbar-collapse collapse flex-lg-1 mx-lg-3 order-2 order-lg-1" id="navbar-search">
            <div class="navbar-search d-flex align-items-center py-2 py-lg-0">
                <div class="form-group-feedback form-group-feedback-left flex-grow-1">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="form-control-feedback">
                        <i class="icon-search4 text-white opacity-50"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-center flex-1 flex-lg-0 order-1 order-lg-2">
            <ul class="navbar-nav flex-row">
                <li class="nav-item nav-item-dropdown-lg dropdown">
                    <a href="#" class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-make-group"></i>
                        <span class="d-none d-lg-inline-block ml-2">Connect</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-lg-350">
                        <div class="dropdown-content-body p-2">
                            <div class="row no-gutters">
                                <div class="col-4">
                                    <a href="#" class="d-block text-body text-center ripple-dark rounded p-3">
                                        <i class="icon-github4 icon-2x"></i>
                                        <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Github</div>
                                    </a>
                                    <a href="#" class="d-block text-body text-center ripple-dark rounded p-3">
                                        <i class="icon-dropbox text-primary icon-2x"></i>
                                        <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Dropbox</div>
                                    </a>
                                </div>

                                <div class="col-4">
                                    <a href="#" class="d-block text-body text-center ripple-dark rounded p-3">
                                        <i class="icon-dribbble3 text-pink icon-2x"></i>
                                        <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Dribbble</div>
                                    </a>
                                    <a href="#" class="d-block text-body text-center ripple-dark rounded p-3">
                                        <i class="icon-google-drive text-success icon-2x"></i>
                                        <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Drive</div>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="#" class="d-block text-body text-center ripple-dark rounded p-3">
                                        <i class="icon-twitter text-info icon-2x"></i>
                                        <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Twitter</div>
                                    </a>
                                    <a href="#" class="d-block text-body text-center ripple-dark rounded p-3">
                                        <i class="icon-youtube text-danger icon-2x"></i>
                                        <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Youtube</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-item-dropdown-lg dropdown">
                    <a href="#" class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-pulse2"></i>
                        <span class="d-none d-lg-inline-block ml-2">Activity</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-lg-350">
                        <div class="dropdown-content-header">
                            <span class="font-size-sm line-height-sm text-uppercase font-weight-semibold">Latest activity</span>
                            <a href="#" class="text-body"><i class="icon-search4 font-size-base"></i></a>
                        </div>
                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-success rounded-pill btn-icon"><i class="icon-mention"></i></a>
                                    </div>
                                    <div class="media-body">
                                        <a href="#">Taylor Swift</a> mentioned you in a post "Angular JS. Tips and tricks"
                                        <div class="font-size-sm text-muted mt-1">4 minutes ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-pink rounded-pill btn-icon"><i class="icon-paperplane"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Special offers have been sent to subscribed users by <a href="#">Donna Gordon</a>
                                        <div class="font-size-sm text-muted mt-1">36 minutes ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-primary rounded-pill btn-icon"><i class="icon-plus3"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Chris Arney</a> created a new <span class="font-weight-semibold">Design</span> branch in <span class="font-weight-semibold">ISSFinance</span> repository
                                        <div class="font-size-sm text-muted mt-1">2 hours ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-purple rounded-pill btn-icon"><i class="icon-truck"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Shipping cost to the Netherlands has been reduced, database updated
                                        <div class="font-size-sm text-muted mt-1">Feb 8, 11:30</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-warning rounded-pill btn-icon"><i class="icon-comment"></i></a>
                                    </div>

                                    <div class="media-body">
                                        New review received on <a href="#">Server side integration</a> services
                                        <div class="font-size-sm text-muted mt-1">Feb 2, 10:20</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-teal rounded-pill btn-icon"><i class="icon-spinner11"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <strong>January, 2018</strong> - 1320 new users, 3284 orders, $49,390 revenue
                                        <div class="font-size-sm text-muted mt-1">Feb 1, 05:46</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="font-size-sm line-height-sm text-uppercase font-weight-semibold text-body mr-auto">All activity</a>
                            <div>
                                <a href="#" class="text-body" data-popup="tooltip" title="Clear list"><i class="icon-checkmark3"></i></a>
                                <a href="#" class="text-body ml-2" data-popup="tooltip" title="Settings"><i class="icon-gear"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="@Url.Content("~/Auth/Logout")" class="navbar-nav-link navbar-nav-link-toggler">
                        <i class="icon-switch2"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-light sidebar-main sidebar-expand-lg">
            <!-- Sidebar content -->
            <div class="sidebar-content">
                <!-- User menu -->
                <div class="sidebar-section">
                    <div class="sidebar-user-material">
                        <div class="sidebar-section-body">
                            <div class="d-flex">
                                <div class="flex-1">
                                    <button type="button" class="btn btn-outline-light border-transparent btn-icon btn-sm rounded-pill">
                                        <i class="icon-wrench"></i>
                                    </button>
                                </div>
                                <a href="#" class="flex-1 text-center"><img src="~/assets/global_assets/images/placeholders/placeholder.jpg" class="img-fluid rounded-circle shadow-sm" width="80" height="80" alt=""></a>
                                <div class="flex-1 text-right">
                                    <button type="button" class="btn btn-outline-light border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                                        <i class="icon-transmission"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-light border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-main-toggle d-lg-none">
                                        <i class="icon-cross2"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="text-center">
                                <h6 class="mb-0 text-white text-shadow-dark mt-3">Victoria Baker</h6>
                                <span class="font-size-sm text-white text-shadow-dark">Santa Ana, CA</span>
                            </div>
                        </div>

                        <div class="sidebar-user-material-footer">
                            <a href="#user-nav" class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle" data-toggle="collapse"><span>My account</span></a>
                        </div>
                    </div>
                    <div class="collapse border-bottom" id="user-nav">
                        <ul class="nav nav-sidebar">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="icon-user-plus"></i>
                                    <span>My profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="icon-coins"></i>
                                    <span>My balance</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="icon-comment-discussion"></i>
                                    <span>Messages</span>
                                    <span class="badge badge-teal badge-pill align-self-center ml-auto">58</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="icon-cog5"></i>
                                    <span>Account settings</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="icon-switch2"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="sidebar-section">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs mt-1">Main</div> <i class="icon-menu" title="Main"></i></li>
                        <li class="nav-item">
                            <a href="~/Home/Index" class="nav-link active">
                                <i class="icon-home4"></i>
                                <span>
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-copy"></i> <span>Master</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                <li class="nav-item"><a href="~/Areas/Index" class="nav-link">Area</a></li>
                                <li class="nav-item"><a href="~/Customers/Index" class="nav-link">Customer</a></li>
                                <li class="nav-item"><a href="~/Vehicles/Index" class="nav-link">Vehicle</a></li>
                                <li class="nav-item"><a href="~/Agents/Index" class="nav-link">Agents</a></li>
                                <li class="nav-item"><a href="~/Brokers1/Index" class="nav-link">Broker</a></li>
                                <li class="nav-item"><a href="~/Shareholders/Index" class="nav-link">Share Holder</a></li>
                                <li class="nav-item"><a href="~/InsuranceCompanies/Index" class="nav-link">Insurance Company</a></li>
                                <li class="nav-item"><a href="~/GramRates/Index" class="nav-link">Gram Rate</a></li>
                                <li class="nav-item"><a href="~/ItemMasters/Index" class="nav-link">Item</a></li>
                                <li class="nav-item"><a href="~/AccountGroupings/Index" class="nav-link">Account Group</a></li>
                                <li class="nav-item"><a href="~/AccountLedgers/Index" class="nav-link">Account Ledger</a></li>


                            </ul>
                        </li>
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-color-sampler"></i> <span>Loan</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Themes">

                                <li class="nav-item"><a href="~/VehicleLoanEntries/Index" class="nav-link">Vehicle Loan</a></li>
                                <li class="nav-item"><a href="~/Installments/Index" class="nav-link">Installments Loan</a></li>

                                <li class="nav-item"><a href="~/Report/InstallmentSchedule" class="nav-link">Installments</a></li>
                                <li class="nav-item"><a href="~/VechicleLoanCollections/Index" class="nav-link">Vechicle Loan Collections</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-stack"></i> <span>Entry</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Starter kit">
                                <li class="nav-item"><a href="~/LoanEntries/Index" class="nav-link">Loan Entries</a></li>
                                <li class="nav-item"><a href="~/ReceiptEntries/Index" class="nav-link">Recepit Entries</a></li>
                                <li class="nav-item"><a href="~/VoucherEntries/Index" class="nav-link">Voucher Entries</a></li>
                            </ul>
                        </li>
                        <!-- /page kits -->
                    </ul>
                </div>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Inner content -->
            <div class="content-inner">
                <!-- Page header -->
                
                <!-- /page header -->
                <!-- Content area -->
             
                    @RenderBody()
                  
              
                <!-- /content area -->
                <!-- Footer -->
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="text-center d-lg-none w-100">
                        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                            <i class="icon-unfold mr-2"></i>
                            Footer
                        </button>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-footer">
                        <span class="navbar-text">
                            &copy; @DateTime.Now.Year <a href="#">Financial</a> by <a href="#" target="_blank">Inspire Software Solution</a>
                        </span>
                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
                            <li class="nav-item"><a href="https://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
                            <li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /footer -->
            </div>
            <!-- /inner content -->
        </div>
        <!-- /main content -->
    </div>

 
</body>
</html>
<script>
    function DateConvertion(input) {
        var date = "";
        if (input != null) {
            var dateString = input.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            date = day + "/" + month + "/" + year;
        }
        return date;
    }
</script>